@(params: uk.gov.hmrc.fsetemailrenderer.controllers.model.Params)
@uk.gov.hmrc.fsetemailrenderer.templates.helpers.html.template_csr(params, "You've been assigned an event") {
    @if(params.parameters("name").toString.trim.nonEmpty){
        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params.parameters("name")}</p>
        <br/>
    }
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You've been assigned an event on <b>@{params.parameters("eventDate")}</b>.</p>
    <ul style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
        <li style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><b>Role:</b> @{params.parameters("eventRole")}</li>
        <li style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><b>Event:</b> @{params.parameters("eventName")}</li>
        <li style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><b>Location:</b> @{params.parameters("eventLocation")}</li>
        <li style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><b>Time:</b> @{params.parameters("eventStartTime")} start</li>
    </ul>
    <h3 style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Please confirm your attendance as soon as possible.</h3>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Visit the sign in page to continue <a href='@params.parameters("externalSigninUrl")'>@params.parameters("externalSigninUrl")</a></p>

    @if(List("EXERCISE_MARKER", "QUALITY_ASSURANCE_COORDINATOR").contains(params.parameters("eventRoleKey"))) {
        <p style="font-size: 19px;
            line-height: 1.315789474;
            margin: 0 0 30px 0;">
            If you provided your availability as 'Home' on this day please ignore the location above and work from home if you prefer.
        </p>

    }
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Thank you</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Fast Stream team</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you need more help, call us on 01276 400 333.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Do not reply to this email</p>
}
