@(params: uk.gov.hmrc.fsetemailrenderer.controllers.model.Params) @uk.gov.hmrc.fsetemailrenderer.templates.helpers.html.template_csr(params, "We've assessed your results") {
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params.parameters("name")}</p>
    <br>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We've assessed your results for the video interview.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><b>You need to sign back in to view your results</b>.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Sign in to the service.<br>(<a href="https://www.apply-civil-service-fast-stream.service.gov.uk/fset-fast-stream/signin">https://www.apply-civil-service-fast-stream.service.gov.uk/fset-fast-stream/signin</a>)</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Thank you</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Fast Stream team</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you need more help, call us on 01276 400 333.</p>
}
