@(params: uk.gov.hmrc.fsetemailrenderer.controllers.model.Params)@uk.gov.hmrc.fsetemailrenderer.templates.helpers.html.template_csr(params, "Congratulations, you're on the Fast Stream!") {
    @if(params.parameters("name").toString.trim.nonEmpty){
        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params.parameters("name")}</p>
        <br/>
    }
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Congratulations, you've successfully passed all the required stages.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We're delighted to be able to offer you a role on the Civil Service Fast Stream, for your chosen scheme:<br />
        <b>@{params.parameters("scheme")}</b>
    </p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><b>You'll be contacted by your scheme's recruitment team soon, with further details of your job offer</b>.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Please understand that this is an extremely busy period, so don't worry if you're not contacted immediately.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><b>Next steps</b></p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">To enable us to complete your pre-employment checks, follow the instructions on the Fast Stream website at <a href="https://faststream.gov.uk/faqs">https://faststream.gov.uk/faqs</a>.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Sign in to your homepage at any time<br>(<a href="https://www.apply-civil-service-fast-stream.service.gov.uk/fset-fast-stream/signin">https://www.apply-civil-service-fast-stream.service.gov.uk/fset-fast-stream/signin</a>)</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Thank you</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Fast Stream team</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you need more help, call us on 01276 400 333.</p>
}