@(params: uk.gov.hmrc.fsetemailrenderer.controllers.model.Params)
@uk.gov.hmrc.fsetemailrenderer.templates.helpers.html.template_csr(params, "You need to submit your availability") {
    @if(params.parameters("name").toString.trim.nonEmpty){
        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params.parameters("name")}</p>
        <br/>
    }
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We haven't received your availability for the Fast Stream assessment centres.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Visit the sign in page to submit your availability <a href='@params.parameters("externalSigninUrl")'>@params.parameters("externalSigninUrl")</a></p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Thank you</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Fast Stream team</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you need more help, call us on 01276 400 333.</p>
}