@(params: uk.gov.hmrc.fsetemailrenderer.controllers.model.Params)@uk.gov.hmrc.fsetemailrenderer.templates.helpers.html.template_csr(params, "You've successfully submitted your application") {
  @if(params.parameters("name").toString.trim.nonEmpty){
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params.parameters("name")}</p>
    <br/>
  }

  <h3 style="font-size: 19px; height: 22px; line-height: 1.315789474; margin: 0 0 30px 0;">You've successfully submitted your application.</h3>

  <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">For Fast Pass candidates, we will check and validate your certificate number.
  Once this is done, you'll be invited to attend an assessment centre.</p>

  <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Otherwise, the next step is to complete the online exercises.</p>

  <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You can practice one of these exercises by visiting the Fast Stream website and selecting "What do I need to know about the online tests?" <br>
  (<a href="http://www.faststream.gov.uk/faqs/">http://www.faststream.gov.uk/faqs/</a>).</p>

  <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Once the exercises are ready, you'll be able to do an example question before starting the exercise.</p>
  <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Thank you</p>
  <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Fast Stream team</p>
    <br/>
  <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you need more help, call us on 01276 400 333.</p>
}