@(params: uk.gov.hmrc.fsetemailrenderer.controllers.model.Params)
@uk.gov.hmrc.fsetemailrenderer.templates.helpers.html.template_csr(params, "Your assessment has been scheduled") {
    @if(params.parameters("name").toString.trim.nonEmpty){
        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params.parameters("name")}</p>
        <br/>
    }

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Congratulations. You've passed your video interview.</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Your assessment is scheduled for @{params.parameters("eventDate")} at @{params.parameters("eventStartTime")}.</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><b>We've confirmed this with you, so no further action is required</b></p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you cannot attend on this date, please call us on 01276 400 333. We may be able to reschedule your assessment.</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you no longer wish to continue, please sign in and withdraw your application. We'll then stop sending any further emails.</p>



    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Thank you</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Fast Stream team</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you need more help, call us on 01276 400 333.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Do not reply to this email</p>
}
