@(params: uk.gov.hmrc.fsetemailrenderer.controllers.model.Params) @uk.gov.hmrc.fsetemailrenderer.templates.helpers.html.template_csr(params, "You can now access your interview account for SDIP") {
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params.parameters("name")}</p>
<br>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Congratulations, you can now access your interview account for SDIP. We used your online tests results from your Fast Stream application to determine this.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><b>The next step is for you to fill in your SDIP application form</b>.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">To find out more information on the next stage, sign in to your homepage<br>(<a href="https://www.apply-civil-service-fast-stream.service.gov.uk/fset-fast-stream/signin">https://www.apply-civil-service-fast-stream.service.gov.uk/fset-fast-stream/signin</a>)</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Thank you</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Fast Stream team</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you need more help, call us on 01276 400 333.</p>
}