@(params: uk.gov.hmrc.fsetemailrenderer.controllers.model.Params)
@uk.gov.hmrc.fsetemailrenderer.templates.helpers.html.template_csr(params, "Your email address has been changed") {
    @if(params.parameters("name").toString.trim.nonEmpty){
        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params.parameters("name")}</p>
        <br/>
    }
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Your email address has been changed to @{params.parameters("newEmail")}</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If this is unexpected please contact us immediately using the details below.</p>

	<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Thank you</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Fast Track apprenticeship team</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you need more help, call us on 03000 54 22 11.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Do not reply to this email</p>
}
