@(params: uk.gov.hmrc.fsetemailrenderer.controllers.model.Params)
@uk.gov.hmrc.fsetemailrenderer.templates.helpers.html.template_csr(params, "Your account has been locked") {
    @if(params.parameters("name").toString.trim.nonEmpty){
        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params.parameters("name")}</p>
        <br/>
    }
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Your account has been locked</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">To unlock your account you'll have to reset your password using the following code: </p>

    <h2 id="resetPasswordCodeID" style="font-size: 32px; line-height: 1.315789474; margin: 0 0 30px 0;">@{params.parameters("resetPasswordCode")}</h2>
	<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Your code will expire after an hour</p>
	<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Thank you</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Fast Track apprenticeship team</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you need more help, call us on 03000 54 22 11.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Do not reply to this email</p>
}