@(params: uk.gov.hmrc.fsetemailrenderer.controllers.model.Params)
@uk.gov.hmrc.fsetemailrenderer.templates.helpers.html.template_csr(params, "New account has been created") {
    @if(params.parameters("name").toString.trim.nonEmpty){
        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params.parameters("name")}</p>
    }
    <h3>You need to do the following to be able to sign in to your account.</h3>
    <ul>
        @if(params.parameters.getOrElse("role", "").toString == "assessor"){
        <li>Visit the sign in page for the first time <a href='@params.parameters("assessorSigninUrl")'>@params.parameters("assessorSigninUrl")</a></li>
        } else {
        <li>Visit the sign in page for the first time <a href='@params.parameters("adminSigninUrl")'>@params.parameters("adminSigninUrl")</a></li>
        }
        <li>Press "Activate account / Forgotten password"</li>
        <li>Enter the email address that this email was sent to</li>
        <li>Press "Send code", retrieve the 7-character code from your email</li>
        <li>Enter the code and type in a new password</li>
        <li>Press "Reset password"</li>
        <li>Your account should now be activated</li>
    </ul>
    <p>Thank you</p>
    <p>Fast Track team</p>
    <br>
    <p>If you need more help, call us on 03000 54 22 11.</p>
    <p>Do not reply to this email</p>
}
